.App {
    text-align: center;
    height: 100vh;
}

.App-header {
    /* gray */
    background-color: #282c34;
    height: 64px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-content {
    padding: 1em;
}

.App-footer {
    background-color: #282c34;
    height: 64px;
    color: white;
}
