.App {
    text-align: center;
    height: 100vh;
}

.App-header {
    background-color: white;
    padding: 0px;
    height: 64px;
    display: flex;
}

.App-header .icon-button {
    font-size: 16px;
    width: 64px;
    height: 64px;
}

.App-logo-vertical {
    height: 64px;
}

.App-title {
    font-size: 1.5em;
}

.App-content {
    padding: 1em;
}

.App-footer {
    background-color: #282c34;
    height: 64px;
    color: white;
}
